@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');
@import "ember-bootstrap/bootstrap";
@import "./cart.scss";
@import "./product.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-appearance: none;
}

p{
  margin-bottom: 0;
}

body{
  font-family: 'Podkova', serif !important; 
}

.main-container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  background-color: rgb(96, 75, 116);
}

.title{
  font-size: 4vh;
  color: rgb(172, 172, 172);
  letter-spacing: 2px;  
  transition: .3s all;
  &:hover{
    letter-spacing:4px; 
    color: rgb(177, 177, 216);
  }
}

.navbar{
  height: 8vh;
}



