<nav class="navbar navbar-dark bg-dark">
  <LinkTo class="navbar-brand" @route='index'>
    <h1 class="title">KtoxShop</h1>
  </LinkTo>
  <LinkTo class="cart-container" @route='cart'>
    <img class="cart-icon" src={{'/shopping-cart.png'}}/>
    <p class="x" >{{this.itemCount}}</p>
  </LinkTo>
</nav>