<LinkTo @route='product' @model={{@productInfo.id}}>
  <article>
    <p>{{@productInfo.name}}</p>
    <p>{{@productInfo.price}}</p>
  </article>
</LinkTo>
<button {{on 'click' this.addProduct}}>Add</button>