{{page-title "KtoxShop"}}
<nav class="navbar navbar-dark bg-dark">
  <LinkTo class="navbar-brand" @route='index'>
    <h1 class="title">KtoxShop</h1>
  </LinkTo>
  <LinkTo class="navbar-brand" @route='cart'>Cart</LinkTo>
</nav>
{{outlet}}