caaart
<section>
  <article>
    <p>Product1</p>
  </article>
  <article>
    <p>Product2</p>
  </article>
</section>

<section>
  <article>
    <p>Total items {{this.itemsAmount}}</p>
    <p>Total {{this.total}}</p>
  </article>
</section>