caaart
<section>
  {{#each this.cart.productsList as |selectedProducts|}}
  <article>
    <p>{{selectedProducts.name}}</p>
  </article>
  {{/each}}
</section>

<section>
  <article>
    <p>Total items {{this.itemsAmount}}</p>
    <p>Total {{this.total}}</p>
  </article>
</section>