<LinkTo @route='cart'>Cart</LinkTo>

<main>
  <h1>KtoxShop</h1>
  <section>
    <article>
      {{#each this.model as |product|}}
       <Product @productInfo={{product}}/>
      {{/each}}
    </article>
  </section>
</main>